@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=Poppins&family=Sanchez&display=swap');

.wrapper {
    background-color: rgb(200, 230, 202);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sanchez', serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  max-width: 85%;
  max-height: 90vh;
  width: 70em;
  height: 32em;
  border-radius: 1.5rem;
  box-shadow: 12px 10px 10px -10px rgba(0, 0, 0, 0.41);
  display: flex;
}

.greenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.5rem;
  height: inherit;
}

.greenTopLeft {
  background-color: green;
  width: 200px;
  height: 350px;
  border-top-left-radius: inherit;
  color: white;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 25px;
}

.greenBottomLeft {
  height: 130px;
  background-color: green;
  width: 200px;
  border-bottom-left-radius: inherit;
  color: white;
  font-size: 0.7rem;
}

.greenBottomLeft img {
  width: 25px;
}

.greenBottomLeft img:nth-child(2) {
  margin-left: 50px;
}

.lowerDetails {
  margin-top: 15px;
  margin-left: 20px;
}

.upperDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  position: absolute;
  margin-top: 50px;
  margin-left: 170px;
  border-radius: 0.4rem;
}

.span1 {
  margin-left: 10px;
}

.imgContainer {
  width: 600px;
  display: flex;
  flex-direction: row;
}

.rightInfoContainer {
  flex: 1;
  margin-left: 30px;
  font-size: 0.9rem;
  padding-left: 140px;
  padding-top: 50px;
}

.leftInfoContainer {
}

.circle {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100px;
  height: 50px;
  border-top-left-radius: 50px;
  border: 10px solid transparent;
  border-bottom-right-radius: 50px;
  border-color: green;
}

.ak {
  color: green;
  font-size: 2.5vw;
  letter-spacing: 0.3rem;
}

.pra {
  font-size: 2.5vw;
  letter-spacing: 0.3rem;
}

.techList li {
  margin-left: 30px;
  margin-top: 10px;
}
