@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Raleway:ital,wght@0,300;1,100&display=swap');

.wrapper{
  height: 100vh;
  width: 100vw;
  /* border: 50px solid black; */
  background-color: #ee8182;
}
.container {
  font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
  height: 25em;
  width: 20em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  perspective: 37.5em;
}

.card {
  height: inherit;
  width: inherit;
  transform-style: preserve-3d;
  transition: 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  background-color: white;
  height: inherit;
  width: inherit;
  position: absolute;
  border-radius: 1em;
  backface-visibility: hidden;
}

.front img {
  display: block;
  margin: auto;
  width: 14em;
  border-radius: 1em;
  margin: 2em auto 1em auto;
}

.back {
  transform: rotateY(180deg);
}

.back button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 12.5em;
  font-size: 1em;
  background-color: rgb(200, 68, 68);
  color: white;
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  outline: none;
}

.front h2,
.front h3,
.front h6 {
  text-align: center;
}

.front h2 {
  font-size: 2em;
  font-weight: 300;
  color: #5b5b5b;
}

.front h3 {
  font-size: 1em;
  font-weight: 500;
}

.front h6 {
  font-weight: 500;
  color: #a0a0a0;
  letter-spacing: 0.1em;
}
