@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 19% 16%;
      --card: 0 0% 100%;
      --card-foreground: 240 19% 16%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 8 99% 67%;
      --primary-foreground: 300 0% 100%;
      --secondary: 240 19% 16%;
      --secondary-foreground: 300 0% 100%;
      --tertiary: 27 82% 98%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 237 13% 40%;
      --accent: 237 9% 96%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 8 82% 92%;
      --input: 8 82% 92%;
      --ring: 9 99% 67%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 237 22% 28%;
      --foreground: 60 9.1% 97.8%;
      --card: 240 19% 16%;
      --card-foreground: 300 0% 100%;
      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;
      --primary: 8 99% 67%;
      --primary-foreground: 300 0% 100%;
      --secondary: 240 19% 16%;
      --secondary-foreground: 300 0% 100%;
      --tertiary: 237 22% 20%;
      --muted: 12 6.5% 15.1%;
      --muted-foreground: 237 13% 63%;
      --accent: 240 19% 16%;
      --accent-foreground: 300 0% 100%;
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 60 9.1% 97.8%;
      --border: 237 22% 20%;
      --input: 237 22% 20%;
      --ring: 8 99% 67%;
    }
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    cursor: url('/cursor.svg'), auto;
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
  @apply text-2xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-4xl font-semibold;
}

.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:dark:bg-dots_dark before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px];
}

.badge {
  @apply z-10 w-[200px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}

/* swiper bullets styles  */
.swiper-horizontal>.section-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-primary;
}

/* Loader Styles */
.loader {
  --path: #2f3545;
  --dot: #fb992b;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
  display: inline-block;
  margin: 0 16px;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}